<div class="container mb-3">
  <div class="header">
      <div class="header-main-image bg-cover"
          style="background-image: url(https://images.unsplash.com/photo-1512484457149-266d165a4eca?ixlib=rb-0.3.5&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;s=786581a33fd6c9343735655439ce2e5a&amp;auto=format&amp;fit=crop&amp;w=1380&amp;q=80)">
          <img src="../assets/images/lg-想吃甜點是不需要理由的.svg" width="89" class="header-image-context" alt="">
      </div>
  </div>
</div>

<section class="container mt-5">
  <div class="row">
      <div class="col-md-4 mb-5">
          <h2 class="bg-primary text-white text-center h4 py-3 mb-0">甜點類別</h2>
          <div class="list-group text-center">
              <a class="list-group-item list-group-item-action h4" (click)="onSelect('all')"
              [class.active]="selectedType=='all'">
                  所有甜點({{ products.length}})</a>
              <a class="list-group-item list-group-item-action h4" (click)="onSelect('daily')"
              [class.active]="selectedType=='daily'">
                本日精選（{{ countOfDailyProducts }}）</a>
              <a class="list-group-item list-group-item-action h4" (click)="onSelect('hot')"
              [class.active]="selectedType=='hot'">
                人氣推薦（{{ countOfHotProducts }}）</a>
              <a class="list-group-item list-group-item-action h4" (click)="onSelect('new')"
              [class.active]="selectedType=='new'">
                新品上市（{{ countOfNewProducts }}）</a>
              <a class="list-group-item list-group-item-action h4 disabled">絕版品</a>
          </div>
      </div>
      <!--Diplay-->
        <!-- one row dispaly two products-->
      <div class="col-md-8">
       <app-page [productsToDisplay]="productsOfType" [totalPage]="totalPage" [showType]="selectedType"></app-page>
      </div>

  </div>
</section>
